.bi-instagram {
    width: 20px;
    height: 20px;
}

body {
    background-color: black;
}
.wrapper {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}
#gridLayout {
    display: grid;    
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 25px;
    padding-top: 20px;    
}
.card {
    margin-bottom: 20px;
}

#cardColumn {
    padding: 20px 50px; 
     
}

#nav-page2 {
    margin-left: 20%;
    margin-right: 20%;
}

.nav-pills .nav-link.active {
    fill: #0d6efd;
    background-color: unset!important;
}

.nav-pills .nav-link {
    color: unset!important;
}

#photo_one {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;    
}

#photo_two {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;    
}

#photo_three {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
    padding-left: 0%;
}

#photo_four {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

#photo_five {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

#photo_six {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

#photo_seven {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

#photo_eight {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

#photo_nine {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

.img {
    object-fit: contain;
    max-width: 75%;
    max-height: auto;
    align-content: center;
}